# Created by .ignore support plugin (hsz.mobi)
/javaClassLoader.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/*.*
/.idea/libraries/Maven__mysql_mysql_connector_java_5_1_17.xml
/.idea
/target
